*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'poppins',sans-serif;
}
.introduction
{
  display:flex;
}
.photo img
{
   width: 50%;
   height: auto;
   border-radius: 50%;
   border: 2px solid black ;
 justify-content: center;
 margin-left: 30%;
 margin-top: 2rem;
 padding: 2rem;
 display: grid;
 gap: 1px;
 grid-template-columns: 2fr 2fr 2fr;
 border-style: dashed;
border-color: orangered;
}


.nav_list
{
   display: flex;
   gap: 1.5rem;
   height: 15vh;
   width: 100%;
   justify-content: center;
   border: .5px solid grey;
    align-items: center; 
   color: black;
}
.nav_list li{
   list-style: none;
   
}
.nav_list li a{
   text-decoration: none;
   text-transform: uppercase;
   font-size: 10px;
   border-bottom: 2px solid transparent;
}
.nav_list li a:hover{

  border-bottom :2px solid orangered;
 transition: 0.5s linear;
 /* background-color: orangered; */
}

.logo
{
   font-weight: 700;
   font-size: medium;
   font-size: 1.5rem;
  margin-right: 10vh;
  
  
}
.logo span
{
   color: orangered;
}

.intro
{
   width: 50%;
   margin-left: 10px;
   padding-left: 3rem;
   gap: 3rem;
    
}
.intro h1{
   margin:1rem 0 0rem ;
   font-size: 2rem;
   color: black;
}
.intro span
{
   font-style: italic;
   background-image: linear-gradient(to right,#e69a8d,#70c6b6);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   font-family: 'georgia',serif;

}
.welcome
{
   font-size: 13px;
   font-weight: 400;
   color: orangered;
}
   
.intro h3{
   font-size: 4rem;
   color:rgba(128, 128, 128, 0.308);
   margin-top: 0%;
}
.intro  p{
 margin: 1rem 0 1rem;
 line-height: 1.1rem;  
color: gray;
}
.btn1
{
border: .2rem solid black ;
font-size: 1rem;
padding:.4rem 1rem;
border-radius: .5rem;
background: black;
color:white;
}
.btn2
{
border: .2rem solid grey;
font-size: 1rem;
padding: .4rem 1rem;
border-radius: .5rem;
margin-left: .6rem;
background: white;
}
.btn2:hover
{
   border-color: black;
   transition: .5s ease;
}
.btn1:hover{
   transform: scale(1.1);
   transition: transform 0.3s ease;
 
}
.mode{
   padding: .3rem 1rem;
   border: 1rem solid;
   border-radius: .5rem;
   border: gray;
}
.mode:hover
{
   transform: scale(1.1);
   background-color: orangered;
}
#button{
   border: 2px solid;
   padding: .3rem 1rem;
   color: rgb(168, 226, 91);
   background-color: black;
   border-radius: .5rem;
}
#button:hover{
    transform: scale(1.1);
   transition: transform 0.3s ease;
 
}
.about
{
    font-size: 20px;
    font-weight: 500;
   color: orangered;
   justify-content: center;
   text-align: center;
   margin: 20px;
}
.about_button button{
   padding: 1rem 1rem;
   border-radius:10px;
   border: 2px solid grey;
   color: gray;
   gap:5rem;
   background: white;
   /* display: flex; */
}
.about_button button:hover{
   border-color: black;
    transform: scale(1.1);
   transition: transform 0.3s ease;
}
#b1
{
   font-weight: 700;
   font-size: 2rem;
   color:orangered;
   vertical-align: text-bottom;
   display:flex;
}
#b2
{
   font-weight: 700;
   font-size: 2rem;
   color:rgb(12, 230, 208);
   vertical-align: text-bottom;
   display:flex;
}
#b3
{
   font-weight: 700;
   font-size: 2rem;
   color:black;
   vertical-align: text-bottom;
   display:flex;
}
#b4
{
   font-weight: 700;
   font-size: 2rem;
   color:black;
   vertical-align: text-bottom;
   display:flex;
}
.about_page{
   display: flex;
  
}
#about_page1
{
    width: 50%;
   margin-left: 10px;
   padding-left: 3rem;
   gap: 3rem;
   margin-bottom: 20px ;
}
#about_page1 p{
color: gray;
}
#about_page
{

font-weight: 700;
margin:1rem 0 0rem ;
   font-size: 3rem;
   justify-content: center;
   text-align: center;
   margin: 20px;
   display:flex;
   /* vertical-align: text-bottom; */
}
#about_page span{
   font-style: italic;
   vertical-align: text-top;
   /* background-image: linear-gradient(to right,#e69a8d,#70c6b6); */
}
#my_work{
   font-size: 20px;
    font-weight: 300;
   color: orangered;
   justify-content: center;
   text-align: center;
   margin: 20px;
   
}
.Featured_Projects h3{
   font-style: italic;
   font-size: 3rem;
   font-weight: 700;
   justify-content: center;
   text-align: center;
   margin: 2rem;
}
.Featured_Projects p{
   color: grey;
   justify-content: center;
   text-align: center;
}
.web_dev{
   display: flex;
   margin: 2rem;
}
.right_web_dev{
   justify-content: center;
   margin-left: 10%;
}
.right_web_dev h6{
  justify-content: center;
  text-align: center;
  color: orangered;
  font-size: 20px;
  font-weight: 500;
  margin: 2rem;
   
}
.right_web_dev h3{
   justify-content: center;
  text-align: center;
  color: black;
  font-size: 3rem;
  font-weight: 700;
  margin: 1rem;
}
.right_web_dev p{
   color: grey;
   margin: 2rem;
}
.right_web_dev button{

   background-color: rgb(232, 198, 198);
   border-radius: 1rem;
   border: 2px solid gray;
   padding: .5rem 2rem ;
}
.right_web_dev button:hover{
    border-color: black;
    transform: scale(1.1);
   transition: transform 0.3s ease;
}
.left_web_dev img{
   background: transparent;
   border-radius: .5rem;
}
.left_web_dev:hover img{
 transform: scale(1.1);
        /* filter: brightness(2); */
        /* filter: contrast(2); */
        /* filter: blur(10);  */
        /* filter: invert(2); */
        filter: drop-shadow(2); 
        /* filter: saturate(2); */
}
.icons i{
  
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 2px black;
    border-radius: 50%;
    color: black;
    margin: 5px 10px;
    font-size: 1.5rem;
    transition: 0.2s linear;

}
.icons i:hover{
    scale: 1.3;
    color: white;
    background-color: black;
    filter: drop-shadow(gray);
}



.fa-brands
{
   padding: 1rem;
   border-radius: 100%;
   color: black;
   border: 1px solid;
   justify-content: center;
   text-align: center;
  
}
.whole_body{
    /* font-style: italic; */
   background-image: linear-gradient(to right,rgb(198, 234, 175),rgb(182, 233, 121));
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   /* font-family: 'georgia',serif; */


}